mat-form-field {
  width: 100%;
}

.info-card {
  margin-top: 20px;
  max-width: 600px;
}

.mat-card-content {
  padding: 16px;
}

.version-select {
  margin-top: 1rem;
  width: 100%;
}

.version-info {
  margin-top: 1rem;
}

.version-info h3 {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.87);
}

.version-info p {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
}

.current-uuid-breakdown {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
